<!-- <div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div> -->
<nav class="navbar">
  <p>︵‿︵‿୨</p>
  <!-- <a class="navbar_route" routerLink="/home" routerLinkActive="active">Home</a> -->
  <a class="navbar_route" routerLink="v1/accounts" routerLinkActive="active"
    >Accounts</a
  >
  <a class="navbar_route" routerLink="v1/items" routerLinkActive="active"
    >Items</a
  >
  <img class="logo" src="../../../assets/images/logo.png" />
  <a class="navbar_route" routerLink="v1/dashboard" routerLinkActive="active"
    >Dashboard</a
  >
  <a class="navbar_route" routerLink="v1/web3" routerLinkActive="active"
    >Web3</a
  >
  <p>୧‿︵‿︵</p>
</nav>
<!-- <router-outlet></router-outlet> -->
<!-- <app-notification></app-notification> -->
