<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<nav class="navbar">
  <a class="button" routerLink="/home" routerLinkActive="active">Home</a>
  <a class="button" routerLink="/accounts" routerLinkActive="active">Accounts</a>
  <a class="button" routerLink="/items" routerLinkActive="active">Items</a>
  <a class="button" routerLink="/dashboard" routerLinkActive="active">Dash</a>
  <a class="button" routerLink="/web3" routerLinkActive="active">Web3</a>
  <button class="button">Home</button>
</nav>
<router-outlet></router-outlet>
<app-notification></app-notification>
