<div class="web3-component">
  <div class="web3-component-sidebar">
    <a
      routerLink="w3profile"
      routerLinkActive="active"
      class="web3-component-sidebar-route"
      >W3 Profile</a
    >
    <a
      routerLink="routine"
      routerLinkActive="active"
      class="web3-component-sidebar-route"
      >Routine</a
    >
    <a
      routerLink="wallet"
      routerLinkActive="active"
      class="web3-component-sidebar-route"
      >Wallets</a
    >
  </div>
  <div class="web3-component-sub-menu">
    <router-outlet></router-outlet>
  </div>
</div>
