<nav class="navbar">
  <a class="navbar_route" routerLink="/">Home</a>
  <a class="navbar_route" routerLink="accounts" routerLinkActive="active"
    >Accounts</a
  >
  <a class="navbar_route" routerLink="steam" routerLinkActive="active">Steam</a>
  <a class="navbar_route" routerLink="dashboard" routerLinkActive="active"
    >Dash</a
  >
  <a class="navbar_route" routerLink="web3" routerLinkActive="active">Web3</a>
</nav>
<router-outlet></router-outlet>
<!-- <app-notification></app-notification> -->
