<div class="treasure-list-component">
  <div class="treasure-list-component_treasure-list">
    <p>Treasures</p>
    <div class="treasure-list-component_treasure-list_content">
      @for (item of treasure_list; track $index) {
      <div
        class="treasure-list-component_element-card"
        [ngClass]="getTierClass(item.tier)"
      >
        <div class="treasure-list-component_element-card-header">
          <a
            [href]="item.url"
            class="treasure-list-component_element-card-link"
            target="_blank"
            >{{ item.name }}</a
          >
        </div>
        <div class="treasure-list-component_element-card-body">
          <div class="treasure-list-component_element-card-body_rating">
            <p>Tier {{ item.tier }}</p>
            <p>{{ item.rate }}</p>
          </div>
          <p>{{ item.category }}</p>
        </div>
        <div class="treasure-list-component_element-card-footer">
          <!-- <p>{{ item.createdAt | date : "dd/MM/yy" }}</p> -->
          <!-- <app-checkbox
            [checked]="false"
            [checkboxId]="'customCheckbox' + i"
            (checkboxChange)="onCheckboxChange($event, item)"
          ></app-checkbox> -->
          @if (item.details.article_text) {<a routerLink="{{ item.project }}"
            >Details -></a
          >}
        </div>
      </div>
      } @empty {
      <div>No Treasure</div>
      }
    </div>
  </div>
</div>
