.routine-list-component
    display: flex
    height: fit-content
    width: 100%
    flex-wrap: wrap
    justify-content: start
    gap: 10px

    .routine-list-component_element-card
        // background: rgba( 255, 255, 255, 0.1 )
        // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
        // backdrop-filter: blur( 1.5px )
        // -webkit-backdrop-filter: blur( 1.5px )

        display: flex
        flex-direction: column
        gap: 15px
        // justify-content: space-between
        // background: #423830
        background: #332922
        border: 1px solid #827160
        // padding: 5px
        width: 180px
        height: 100px
        &:hover
            // background: #332922
            background: #423830

    .routine-list-component_element-card-header

    .routine-list-component_element-card-link
        text-decoration: none
        display: inline-block
        box-sizing: border-box
        text-align: center
        // line-height: inherit
        // height: 25px
        // border-top: 1px solid #827160
